.proyecto{
    background: var(--color-de-fondo-oscuro);
    color: var(--color-texto-oscuro);
    padding: 3rem 2rem;
}

.proyecto__tituloGeneral{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 3rem;
}

.proyecto__caja{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.proyecto__img{
    width: 70%;
    box-shadow: 0rem 0rem 1rem var(--neon-blanco);
    
}

.proyecto__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.proyecto__titulo{
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
}

.proyecto__texto{
    padding: 0.5rem;
    text-align: left;
}

.proyecto__descripcion{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.proyecto__repo--boton{
    text-align: center;
    border: 1px solid var(--color-botones-encriptador);
    background: var(--color-de-fondo-oscuro);
    color: var(--color-botones-encriptador);
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;

}

.proyecto__demo--boton{
    background: var(--color-botones-encriptador);
    padding: 1rem;
    border: 1px solid var(--color-botones-encriptador);
    margin: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.proyecto__demo--boton:hover {
    transform: scale(1.1);
    transition: 0.5s all;
    font-weight: bold;
    box-shadow: 0rem 0rem 1rem var(--neon-blanco);
    background: var(--color-de-fondo-oscuro);
    color: var(--color-texto-oscuro);
}

.proyecto__repo--boton:hover{
    transform: scale(1.1);
    transition: 0.5s all;
    font-weight: bold;
    box-shadow: 0rem 0rem 1rem var(--neon-blanco);
    background: var(--color-botones-encriptador);
    color: var(--color-de-fondo-oscuro)
}
