/*Tablet*/
@media screen and (max-width: 768px) {

    .menu__lista__item{
        display: none;
    }

    #banner__div--id{
        padding: 15rem 7rem;
    }

    .banner__titulo--div{
        width:100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #titulo__banner--id{
        animation: none;
        border-right: none;
        overflow: initial;
        white-space: normal;
    }

    .personal__imagenPerfil{
        margin: 5rem;
        border: 1px solid var(--neon-blanco);
        box-shadow: var(--efecto-neon);
    }

    .personal__contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #div__datosPersonales{
        margin-right: 0;
        margin: 1rem;
        box-shadow: none;
    }

    .skills__contenido{
        display:flex;
        flex-wrap:wrap;
    }

    .softSkills__contenido{
        display: flex;
        flex-wrap: wrap;
    }

    .hobbies__contenido{
        display: flex;
        flex-wrap: wrap;
    }

    .formaciones__cursos{
        display: flex;
        flex-wrap: wrap;
    }

    .proyecto__caja{
        display: flex;
        flex-direction: column;
    }

    .proyecto__info{
        padding-top: 2rem;
    }

    #proyecto__img{
        width: 100%;
    }

    .formContacto__imagenes{
        display: none;
    }

    #contacto__texto{
        display: flex;
        padding-left: 0;
    }

    .formContacto__subtexto{
        padding:0;
    }

}


/*Mobile*/
@media screen and (max-width: 425px) {

    .menu{
        display: flex;
        flex-direction: column;
    }
    
    .menu__lista__item--contacto{
        font-size: 1rem;
    }

    .banner__titulo--div{
        padding: 1rem;
    }

    #banner__div--id{
        padding:15rem 6rem;
    }
    .banner__div{
        padding: 3rem;
    }

    .personal__imagenPerfil{
        margin: 0;
        padding: 0;
        width: 15rem;
    }

    .personal__caja__items{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .personal__datos__items{
        padding: 1rem;
    }

    #imagen__personal{
        padding: 0;
        margin: 2rem 0;
    }

    .personal__datos__titulo{
        box-shadow: var(--efecto-neon);
    }

    .personal__sobreMi__titulo{
        box-shadow: var(--efecto-neon);
    }

    #skills__contenido{
        padding: 0;
        margin-bottom: 2rem;
        margin: 0;
        margin-top: 1.7rem;
    }

    #softSkills__contenido{
        padding: 0;
        margin-bottom: 2rem;
        margin: 0;
        margin-top: 1.7rem;
    }

    #hobbies__contenido{
        padding: 0;
        margin: 0;
        margin-top: 1.7rem;
    }

    #proyecto__img{
        width: 100%;
    }

    .formaciones__titulo{
        border: 1px solid var(--neon-blanco);
        margin-bottom: 4rem;
        border-radius: 5rem;
        box-shadow: var(--efecto-neon);
    }

    .footer__contenido__desarrolladora--parrafo{
        font-size: 1rem;
    }

    .footer__fecha{
        font-size: 1rem;
    }
}